html {
    font-size: 1em;
    color: #fff;
    font-family: Verdana, Arial, sans-serif;
    background: #ea9842 url("image/bg.jpg");
}

body {
    width: 980px;
    margin: 0 auto;
}

header {
    height: 150px;
    background: transparent url("image/lotusz.jpg") center center no-repeat;
}

header h1 {
    color: #fff;
    font-size: 3em;
    line-height: 150px;
    padding: 0 50px;
}

nav {
    height: 50px;
    background: transparent url("image/bkg.png");
}

nav ul {
    background: transparent url("image/bkg.png");
}

nav ul li {
    display: inline;
    line-height: 50px;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

nav ul li.active a {
    color: #000;
}

article {
    min-height: 500px;
    padding: 20px 5px 80px 5px;
    background: transparent url("image/bkg.png");
}

footer {
    line-height: 30px;
    text-align: center;
    color: #9f632f;
    clear: both;
}

a {
    color: #222;
}

section {
    clear: both;
    padding: 15px 0;
}

h2 {
    margin: 15px 0;
    padding: 0 15px;
    font-size: 1.5em;
    line-height: 2.5em;
    background: #9f632f;
}

h3 {
    margin: 15px 0;
    padding: 0 25px;
    font-size: 1.1em;
    line-height: 2em;
}

p {
    margin: 20px;
}

p img {
    border: none;
    margin: 0 5px 5px 0;
    float: left;
}

form {
    width: 250px;
    margin: 50px auto;
}

form input[type="text"],
form input[type="email"],
form textarea {
    border: 1px solid #9f632f;
    background: transparent url("image/bkg.png");
    padding: 5px;
    outline: none;
    border-radius: 5px;
    color: #aaa;
    width: 250px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-color: #fff;
    color: #fff;
}

form label {
    display: block;
}

form .data-field {
    margin: 20px 0 0 0;
}

form .error-field {
    color: #ab1000;
}

form .data-field.required label:after {
    content: '*';
    color: #ab1000;
}

form .buttons {
    margin: 25px 0;
}

form .buttons input {
    padding: 6px 11px 6px 11px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
    outline: none;
}

form .buttons input[type="reset"] {
    border: 1px solid #777;
    color: #ddd;
    background: #aaa;
}

form .buttons input[type="reset"]:hover {
    background: #777;
}

form .buttons input[type="submit"] {
    border: 1px solid #004e00;
    background: #439430;
}

form .buttons input[type="submit"]:hover {
    background: #004e00;
}

form .buttons {
    text-align: center;
}

table {
    border-spacing: 5px;
    border-collapse: separate;
}

table caption {
    font-weight: bold;
    padding: 5px 0;
}

table tr th {
    padding: 15px;
    background: #9f632f url("image/bkg.png");
}

table tr td {
    padding: 5px;
    background: #9f632f;
}

.align-right {
    text-align: right;
}
