<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><?php
        echo $this->merge(
                  ' - ',
                  $this->getConfig()->get('title'),
                  $this->getContent()->get('title')
        );
        ?></title>

    <link href="skin/reset.css" rel="stylesheet" type="text/css" media="all">
    <link href="skin/main.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
<header>
    <h1>Krisna-völgy</h1>
</header>
<nav>
    <ul>
        <?php
        $menu = Mvc\Controller\Front::getInstance()->getRouter()->getConfig()->toArray();
        $activeController = Mvc\Controller\Front::getInstance()->getController()->getName();
        $activeAction = Mvc\Controller\Front::getInstance()->getRouter()->getActionName();

        foreach ($menu as $uri => &$data):
            $isActive = ($data['controller'] === $activeController and $data['action'] === $activeAction)
            ?>
            <li class="<?php echo($isActive ? 'active' : ''); ?>"><a
                        href="/<?php echo $uri; ?>"><?php echo $data['label']; ?></a></li>
        <?php endforeach; ?>
    </ul>
</nav>

<article>
    <?php echo $this->getContent(); ?>
</article>

<footer>
    Forrás: <a href="http://krisnavolgy.hu/">krisnavolgy.hu</a>
</footer>
</body>
</html>