<h2>Programnaptár</h2>

<table>
    <caption>Íme, Krisna-völgy 2015 évi kiemelt Vendégváró programjai…</caption>
    <tr>
        <th>Program</th>
        <th>Dátum</th>
        <th>Idő</th>
        <th>Megjegyzés</th>
    </tr>

    <?php foreach ($this->get('event', array()) as &$event): ?>
        <tr>
            <td><?php echo $event['title']; ?></td>
            <td><?php echo $event['date']; ?></td>
            <td><?php echo $event['time']; ?></td>
            <td><?php echo $event['description']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>

<p class="align-right">
    <a href="http://krisnavolgy.hu/programnaptar/">Még több program...</a>
</p>
