<h2>Mi Krisna-völgy?</h2>

<p>Szeretné legalább egy kis időre letenni a hétköznapok gondjait, megállni a rohanásban és pihenni egy jót?</p>

<p>Ha igen, akkor látogasson el egy békés, nyugodt atmoszférájú helyre…akár hozzánk is!</p>

<p>Krisna-völgy egy békés sziget a rohanó hétköznapok tengerén, a Balatontól csak harminc kilométerre, Kaposvár
   irányában. Kétszázhatvan hektáron fekvő területünk – mely egyben kulturális központ és biofarm is – igazán szép
   látnivalókkal és új élményekkel kecsegtet az idelátogatók számára. Dísztavaink, ligeteink, és arborétumunk több
   száz
   növény- és állatfajnak adnak otthont. Tehenészetünk, Biokertészetünk, valamint az Iskolánk épülete szintén
   látogatható; ezek a helyszínek sok-sok érdekességgel várják az érdeklődőket. Vendégeink a Recepciótól a Templom
   épületéhez vezető, kellemes sétaút során tekinthetik meg ezeket a különlegességeket.
</p>


<p><img alt="táj" src="http://krisnavolgy.hu/wp-content/uploads/taj1-300x225.jpg">
    A Völgy területén jelenleg közel százötven Krisna-hívő szerzetes él, akik ökogazgdálkodással, védikus – az Ősi
    indiai
    szentírásokon, a Védákon alapuló – életmóddal, és számtalan hasznos és érdekes dologgal foglalkoznak –
    önfenntartásra
    törekedve.
</p>

<p>Idelátogató vendégeinket az év minden napján 10:00-17:00-ig fogadjuk, és vendégvezetést biztosítunk számukra a
   templomépület területén, ahol kulturális programokon vehetnek részt a páratlan szépségű indiai szentélyben,
   valamint
   a különleges csemegéket kínáló éttermet és a keleti ajándékboltunkat is meglátogathatják.
</p>

<p>Szeretettel várunk minden kedves vendéget és érdeklődőt, akik szeretnének egy igazi lelki oázisban menedékre
   lelni
   akár csak egy kirándulás erejéig, vagy éppen egy egész hétvégén keresztül. Hosszabb látogatásra is van lehetőség,
   harmincfős vendégházunk egész évben nyitva tart!</p>
