
<h2>Környékünk</h2>

<p>
    Krisna-völgy szomszédságában is sok érdekes, és szép helyre látogathatnak el az erre járók. Íme -természetesen a
    teljesség igénye nélkül- az 5-10 kilométeres körzetünkben található főbb látnivalók sora:
</p>
<section>
    <h3>Somogyvámos</h3>

    <p>
        <img alt="Somogyvámos" src="/image/somogyvamos.jpg">
        A falu egyéb látnivalói között található a Puszta-torony, amelyet a XII. században feltehetően a Johannita
        lovagrend tagjai építettek. Itt található a néhai Hanzel László polgármester, a tojáspatkolás
        Guinness-rekorderének műhelye és gyűjteménye, mely a lakásán tekinthető meg.
    </p>
</section>
<section>
    <h3>Somogyvár</h3>

    <p>
        <img alt="Somogyvár" src="/image/somogyvar.jpg">
        Ópusztaszer és Mohács mellett Magyarország harmadik Történelmi Emlékhelye. Hajdanán itt állt Kupavár, Kupa
        vezérnek, vagyis Koppánynak a szállásközpontja.
        A Bencés apátságot Szent László király alapította 1091-ben, s ez az épület szolgált temetkezési helyéül is.
        Itt található a Széchenyiek egyik kastélya is egy gyönyörű ősparkkal körülvéve.
    </p>
</section>
