<?php foreach ($this->get('video', array()) as &$video): ?>

    <section class="video">
        <h2><?php echo $video['title']; ?></h2>
        <iframe width="970"
                height="600"
                allowfullscreen
                src="<?php echo $video['src']; ?>"></iframe>
    </section>

<?php endforeach; ?>
