<h2>Küldj egy üzenetet</h2>

<?php if ($this->get('messageSent', false)) { ?>
    <p>
        Köszönjük üzenetét!
    </p>
<?php } else { ?>
    <form method="post">
        <div class="data-field required">
            <label for="name">Név</label>
            <input type="text" id="name" name="name" value="<?php echo $this->get('messageForm')->get('name'); ?>">
        </div>

        <?php if ($this->has('error')) { ?>
            <div class="error-field">
                <?php echo $this->get('error')->get('name', ''); ?>
            </div>
        <?php } ?>

        <div class="data-field required">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" value="<?php echo $this->get('messageForm')
                                                                              ->get('email'); ?>">
        </div>

        <?php if ($this->has('error')) { ?>
            <div class="error-field">
                <?php echo $this->get('error')->get('email', ''); ?>
            </div>
        <?php } ?>

        <div class="data-field required">
            <label for="message">Üzenet</label>
            <textarea rows="5" id="message" name="message"><?php echo $this->get('messageForm')
                                                                           ->get('message'); ?></textarea>
        </div>

        <?php if ($this->has('error')) { ?>
            <div class="error-field">
                <?php echo $this->get('error')->get('message', ''); ?>
            </div>
        <?php } ?>

        <div class="buttons">
            <input type="reset" value="Mégsem">
            <input type="submit" value="Küldés">
        </div>
    </form>
<?php } ?>
