<h2>Így jut el hozzánk</h2>
<iframe width="<?php echo $this->get('map')->width; ?>"
        height="<?php echo $this->get('map')->height; ?>"
        src="<?php echo $this->get('map')->src; ?>"></iframe>
